In [1]:
#Now we import important libraries
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ("ignore")
import time

In [2]:
#Code to open the automted test software
driver=webdriver.Edge(r'C:\Users\Dell\Downloads\edgedriver.exe')

In [3]:
#for the maximize the window
driver.maximize_window()

In [4]:
#Code to automatically open the website
url="https://www.naukri.com/" 
driver.get(url)

In [5]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [6]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [15]:
# Code to check on particular location filter checkbox (i.e.Delhi/NCR)
locn_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
locn_filter.click()

In [16]:
# Code to check on particular salary filter checkbox (i.e. 3-6lacs)
salary_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p')
salary_filter.click()

In [17]:
# Code to scrape the job title data
job_title=[]
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist / Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data scientist- Python',
 'Data Scientist']

In [18]:
# Code to scrape the job location
job_location = []
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags [0:10]:
    job_location.append(i.text)
job_location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Temp. WFH - Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [19]:
# Code to scrape the company name
company_name=[]
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company_name.append(i.text)
company_name

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'Wegarner Solutions',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [20]:
# Code to scrape the experience required
experience_required = []
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags [0:10]:
    experience_required.append(i.text)
experience_required

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [21]:
# Now we create dataframe

Data_Scientist_jobs = pd.DataFrame()
Data_Scientist_jobs['Job_Titles'] = job_title
Data_Scientist_jobs['Job_Location'] = job_location
Data_Scientist_jobs['Company_Name'] = company_name
Data_Scientist_jobs['Experience_Required'] = experience_required
Data_Scientist_jobs

,Job_Titles,Job_Location,Company_Name,Experience_Required
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [22]:
driver.close()