In [39]:
# Firstly we install the selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#now we download the web driver package, so go to https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/ to download

In [1]:
#Now we import important libraries
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ("ignore")
import time

In [2]:
#Code to open the automted test software
driver=webdriver.Edge(r'C:\Users\Dell\Downloads\edgedriver.exe')

In [3]:
#for the maximize the window
driver.maximize_window()

In [4]:
#Code to automatically open the website
url="https://www.naukri.com/" 
driver.get(url)

In [5]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

In [6]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [7]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [8]:
# Code to scrape the job title data
job_title=[]
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Senior Data Analyst - PLM Data Migration',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst',
 'Lead Data Management Analyst']

In [9]:
# Code to scrape the company name
company_name=[]
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company_name.append(i.text)
company_name

['CGI',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Elasticsearch',
 'NMS Consultant',
 'IBM',
 'IBM',
 'Wells Fargo']

In [10]:
# Code to scrape the experience required
experience_required = []
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags [0:10]:
    experience_required.append(i.text)
experience_required

['3-6 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-4 Yrs',
 '3-4 Yrs',
 '5-8 Yrs']

In [11]:
# Code to scrape the job location
job_location = []
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags [0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Chennai']

In [37]:
# Now we create dataframe

In [13]:
jobs=pd.DataFrame()
jobs ['Job_Titles'] = job_title
jobs ['Job_Location'] = job_location
jobs ['Company_Name'] = company_name
jobs ['Experience_Required'] = experience_required
jobs

,Job_Titles,Job_Location,Company_Name,Experience_Required
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
2,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
3,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Elasticsearch,2-5 Yrs
6,Sr. Data Analyst (SAS Data Management),"Bangalore/Bengaluru, New Delhi",NMS Consultant,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
9,Lead Data Management Analyst,"Bangalore/Bengaluru, Chennai",Wells Fargo,5-8 Yrs

In [14]:
driver.close()