In [1]:
#Now we import important libraries
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings ("ignore")
import time

In [2]:
#Code to open the automted test software
driver=webdriver.Edge(r'C:\Users\Dell\Downloads\edgedriver.exe')

In [3]:
#for the maximize the window
driver.maximize_window()

In [4]:
#Code to automatically open the website
url="https://www.naukri.com/" 
driver.get(url)

In [7]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [6]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [8]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [9]:
# Code to scrape the job title data
job_title=[]
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Senior Data Scientist',
 'Program Manager, Analytics',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - Looking For Immediate Joiners',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II']

In [10]:
# Code to scrape the job location
job_location = []
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags [0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)']

In [11]:
# Code to scrape the company name
company_name=[]
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company_name.append(i.text)
company_name

['Accenture',
 'Citiustech',
 'Wipro',
 'Uber',
 'Quest Global',
 'Accenture',
 'Wipro',
 'Altair',
 'Boston Consulting Group',
 'Bizongo']

In [16]:
# Now we create dataframe
Data_Scientist_job = pd.DataFrame()
Data_Scientist_job['Job_Titles'] = job_title
Data_Scientist_job['Job_Location'] = job_location
Data_Scientist_job['Company_Name'] = company_name
Data_Scientist_job

,Job_Titles,Job_Location,Company_Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
2,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro
3,"Program Manager, Analytics",Bangalore/Bengaluru,Uber
4,Data Scientist,Bangalore/Bengaluru,Quest Global
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
7,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
9,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo

In [17]:
driver.close()